---
layout: default
---

<p></p>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>
      Currently pursuing my PhD in economics at <a href="https://www.uni-corvinus.hu/?lang=en">Corvinus University of Budapest</a> and working as a Junior Research Fellow at <a href="https://kti.krtk.hu/en/">HUN-REN Centre for Economic and Regional Studies</a>. My research interests lie in understanding the determinants of firm productivity using applied microeconometric methods. Presently, I'm focused on exploring the effects of manager transitions on productivity.
    </p>

    <p><b>contact</b>
    <p>
      martinneubrandt[at]gmail[dot]com
    </p>
    </div>
</div>
