---
layout: default
---

<img src="\assets\img\profile_photo_small.jpg" alt="">

<p></p>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>
    Currently I'm doing my Economics PhD at <a href="https://www.uni-corvinus.hu/?lang=en">Corvinus University of Budapest</a>.
    </p>

    <p>
    Also, I'm a research assistant at the <a href="https://kti.krtk.hu/en/">Institute of Economics KRTK</a> in the Economic Growth and Competitiveness research group.
    </p>

    <p>
    <b>Research focus:</b> I am interested in the determinants of firm productivity, especially the effects of managers and leaders on firm performance.
    </p>

    </div>
</div>
