---
layout: default
---

<p></p>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>
      I am currently pursuing a PhD in economics at <a href="https://www.uni-corvinus.hu/?lang=en">Corvinus University of Budapest</a> while working as a Junior Research Fellow at <a href="https://kti.krtk.hu/en/">HUN-REN Centre for Economic and Regional Studies</a>. My research focuses on uncovering the factors that shape firm productivity through applied microeconometric analysis.
    </p>

    <p><b>contact</b>
    <p>
      neubrandt.martin[at]krtk.hun-ren[dot]hu
    </p>
    </div>
</div>
