---
layout: default
---

{{ content }}

<h3> Working paper </h3>

<h4><a href="https://www.dropbox.com/scl/fi/7pp4flnfui80q921eppcg/draft-20240425-partnering-for-productivity.pdf?rlkey=oqpvy8rrt3i9zs1h7dtxc5ami&st=z30ndyp4&dl=0">Partnering for productivity - The impact of cooperation on firm performance</a></h4>

<p align="justify"><i>This paper investigates the impact of cooperation with different types of collaboration partners on firm productivity in Hungary. The study focuses on the extra productivity gain that collaboration in the innovation activity provides to firms besides innovation. I analyze the panel data of the Hungarian Community Innovation Survey linked to firm balance sheet data using a difference-in-differences approach. I find that, 4 years after the introduction of innovation the labor productivity growth of the firm will increase by 2.5%, while the total factor productivity growth will increase by 4.2%. If the firm cooperates vertically with its suppliers or customers in the innovation activity, it will add an extra 3.2% increase to labor productivity growth and 2.9% increase to total factor productivity growth.</i></p>


