---
layout: default
---

{{ content }}

<h3> Working paper </h3>

<h4><a href="http://dx.doi.org/10.2139/ssrn.6052268">Partnering for Productivity - The Impact of Cooperation on Firm Performance</a></h4>

<p align="justify"><i>This paper examines how cooperation with different partners in innovation activities shapes firm employment and performance. Using panel data from the Hungarian Community Innovation Survey, I show that vertical cooperation increases the gain from innovation. Following an innovation, firms that engage in vertical cooperation in their innovation activity see employment rise by 3.5%, value added by 5.7%, and total factor productivity by 3.8%, on top of the direct impact of the innovation itself. Cooperation with other partner types has no significant direct effect on employment or performance.</i></p>


